*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: auto;
    background-image: url('../assets/pattern.png');
    background-repeat: no-repeat;
    background-position-y: 520px;
    background-position-x: 1300px;
    background-size: 32%;
}

.main-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    position: relative;
    background-color: rgb(61, 65, 171);
}

.element{
    scale: 0.8;
    position: absolute;
    top: 200px;
    left: 820px;
    transform: translate(-50%, 50%);
}